.Cell.container {
  background: #0d3b66;
}

.Cell .disk {
  border-radius: 50%;
  /* must be the same as the page background to have an illusion of transparency */
  background: #e8e9f3;
}

.Cell .disk.player-1 {
  background: #ef8080;
}

.Cell .disk.player-2 {
  background: #febe48;
}
